<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# ファビコン %>
    <link rel="icon" href="images/favicon.ico">    
    <%# スマホ用アイコン %>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  </head>

  <body>
      <header class="header">
        <div class="header_bar">
          <div class="header_title"><a class="header_title_c" href="/">Pomodoroアプリ</a></div>
          <div class="explanation"><p>~人間の集中力が高く発揮されると言われているポモドーロタイマー（25分作業→5分休憩）を測れるアプリです~</p></div>
          <div class="header_menu"><a class="header_menu_c" href="/">メニュー</a></div>
        </div>
        <div class="container">1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br></div>
      </header>
    <%= yield %>
      <footer>
        <div class="footer_bar">
          <div class="copyright"><p >Copyright 2020. Pomodoroアプリ</p></div>
        </div>
      </footer>
  </body>
</html>
