<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# ファビコン %>
    <link rel="icon" href="images/favicon.ico">    
    <%# スマホ用アイコン %>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  </head>

  <body>
    <header class="header">
      <div class="header_bar">
        <div class="header_title"><a class="header_title_c" tabindex="-1">Pomodoroアプリ</a></div>
        <div class="explanation"><p>~人間の集中力が高く発揮されると言われているポモドーロタイマー（25分作業→5分休憩）を測れるアプリです~</p></div>
        <div class="header_menu">
          <ul class='lists-right'>
            <% if user_signed_in? %>
              <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
            <% end %>
          </ul>
        </div>
      <%# 初アクセスのモーダルウィンドウ %>
      <div id="modal" class="modal">
        <div class="modal-content">
          <div class="modal_text1">
            <h1 >〜ご注意〜</h1>
          </div>
          <div class="modal_text2">
            <p>当サイトは音が流れますので外でのご使用時はお気をつけください。</p>
          </div>
          <div class="modal_button">
            <input type="button" id="closeBtn" value="close">
          </div>
        </div>
      </div>
      <%# 4回達成後のモーダルウィンドウ %>
      <div id="modal2" class="modal">
        <div class="modal-content">
          <div class="modal_text1">
            <h1 >〜１セット達成おめでとうございます！〜</h1>
          </div>
          <div class="modal_text2">
            <p>お疲れ様です！一度長めの休憩を入れて次に挑むと効果的です。</p>
          </div>
          <div class="modal_button">
            <input type="button" id="closeBtn" value="close">
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer_bar">
        <div class="copyright">
          <p >Copyright 2020. Pomodoroアプリ ・ OtoLogic ・ </p>
          <a class="copyright_a" href="https://pocket-se.info/">ポケットサウンド/効果音素材</a>
        </div>
      </div>
    </footer>
  </body>
</html>
